* { margin: 0; box-sizing: border-box; }
html, body { height: 100dvh; font: 1.1rem/1.4 sans-serif; display: flex; flex-direction: column; }
nav { padding: 1rem; }
main { flex: 1; }



.panes {
  touch-action: none;
  display: grid;
}

.pane {
  position: relative;
  overflow: hidden;
  /* color: blueviolet; */
}

.gutter {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: #000;
}

.trije_divi > .pane > .gutter {
  cursor: col-resize;
  top: 0;
  bottom: 0;
  width: 8px;
}

/* .trije_divi > .pane > .gutter {
  cursor: row-resize;
  left: 0;
  height: 8px;
} */

.trije_divi {
  height: 100vh;
}

.leva_stran {
  /* padding: 10px; */
  height: 100vh;
  background-color: gray;
  /* margin-left: 10px; */
}

.leva_stran > * {
  margin-left: 10px;
}

.srednja_stran {
  height: 100vh;
  background-color: rgb(149, 148, 189);
}
.desna_stran {
  height: 100vh;
  background-color: rgba(180, 39, 39, 0.256);
}

textarea {
  resize: vertical;
  /* background-color: aliceblue; */
}

textarea {
  border-color: #000;
  border: 2px;
}
